event-ticket {
  $red: #e84c3d;
  $grey: #ecedef;
  $black: #343434;

  .cardWrap {
    width: 100%;
    margin: 3em auto;
    color: #fff;
    font-family: sans-serif;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0 5px;
  }

  span {
    color: color($colors, primary) !important;
  }

  .cardWrap h1 {
    text-align: center;
  }

  h2 {
    color: black !important;
  }

  .flexy-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 5px;

    .date,
    .time {
      flex-grow: 1;
    }
  }

  .card {
    background: linear-gradient(to bottom, color($colors,primary) 0%, color($colors,primary) 26%, #fff 26%, #fff 100%);
    height: 11em;
    position: relative;
    padding: 1em;
    height: 100%;
  }

  .cardLeft {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    flex-grow: 1;
    height: 100% !important;
    width: 60% !important;
  }

  .cardRight {
    border-left: 0.18em dashed #9a9a9a;
    border-top-right-radius: 8px;
    flex-grow: 1;
    border-bottom-right-radius: 8px;
    height: 100% !important;

    &:after,
    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 0.9em;
      height: 0.9em;
      background: #9a9a9a;
      border-radius: 50%;
      left: -.5em;
    }

    &:before {
      top: -.4em;
    }

    &:after {
      bottom: -.4em;
    }
  }

  h1 {
    font-size: 1.1em;
    margin-top: 0;

    span {
      font-weight: normal;
    }
  }

  .date,
  .name,
  .time,
  .title {
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;

    h2 {
      font-size: 0.9em;
      color: #525252;
      margin: 0;
    }

    span {
      font-size: 0.7em;
      color: #a2aeae;
    }
  }

  .title {
    margin: 22px 0 0 !important;
  }

  .dat,
  .name {
    margin: 5px 0 0;
  }

  .time {
    margin: 0 0 0 1em;
  }

  .date,
  .time {
    float: left;
  }

  .eye {
    position: relative;
    width: 2em;
    height: 1.5em;
    background: #fff;
    margin: 0 auto;
    border-radius: 1em/0.6em;
    z-index: 1;

    &:after,
    &:before {
      content: "";
      display: block;
      position: absolute;
      border-radius: 50%;
    }

    &:before {
      width: 1em;
      height: 1em;
      background: color($colors, primary);
      z-index: 2;
      left: 8px;
      top: 4px;
    }

    &:after {
      width: 0.5em;
      height: 0.5em;
      background: #fff;
      z-index: 3;
      left: 12px;
      top: 8px;
    }
  }

  .number {
    text-align: center;
    text-transform: uppercase;

    h3 {
      color: color($colors, primary);
      margin: 0.9em 0 0;
      font-size: 2.5em;
    }

    span {
      display: block;
      color: #a2aeae;
    }
  }

  .barcode {
    height: 2em;
    width: 0;
    margin: 1.2em 0 0 0.8em;
    box-shadow: 1px 0 0 1px $black, 5px 0 0 1px $black, 10px 0 0 1px $black, 11px 0 0 1px $black, 15px 0 0 1px $black, 18px 0 0 1px $black, 22px 0 0 1px $black, 23px 0 0 1px $black, 26px 0 0 1px $black, 30px 0 0 1px $black, 35px 0 0 1px $black, 37px 0 0 1px $black, 41px 0 0 1px $black, 44px 0 0 1px $black, 47px 0 0 1px $black, 51px 0 0 1px $black, 56px 0 0 1px $black, 59px 0 0 1px $black, 64px 0 0 1px $black, 68px 0 0 1px $black, 72px 0 0 1px $black, 74px 0 0 1px $black, 77px 0 0 1px $black, 81px 0 0 1px $black;
  }
}
