<ion-item-divider color="light" no-lines [hidden]="!data.phone && !data.email && hideSocialLinks">
  Social
</ion-item-divider>
<a ion-item *ngIf="isExists(data.Email)" [clickAction]="(data.Email)" clickType="mail">
  <ion-icon name="mail" item-left small></ion-icon> {{data.Email}}
</a>

<a ion-item *ngIf="isExists(data.phone)" [clickAction]="(data.phone)" clickType="tel">
  <ion-icon name="call" item-left small></ion-icon> {{data.phone}}
</a>

<ion-item *ngIf="!hideSocialLinks">
  <button ion-button round color="facebook" *ngIf="isExists(data.facebook)" [clickAction]="(data.facebook)" clickType="web">
    <ion-icon name="logo-facebook"></ion-icon>&nbsp;Facebook
  </button>

  <button ion-button round color="twitter" *ngIf="isExists(data.twitter)" [clickAction]="(data.twitter)" clickType="web">
    <ion-icon name="logo-twitter"></ion-icon>&nbsp;Twitter
  </button>

  <button ion-button round color="light" *ngIf="isExists(data.website)" [clickAction]="(data.website)" clickType="web">
    <ion-icon name="globe"></ion-icon>&nbsp;Website
  </button>

  <button ion-button round color="google" *ngIf="isExists(data.instagram)" [clickAction]="data.instagram" clickType="web">
    <ion-icon name="logo-instagram"></ion-icon>&nbsp;Instagram
  </button>
</ion-item>
