<ion-header>
  <ion-navbar hideBackButton="true" color="light">
  <ion-buttons end>
    <button ion-button icon-only (click)="close()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-buttons>
    <ion-title>{{postTypes[post.type]}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <post-card [postData]="post" [params]="{hideBadge: true, hideMore:true}"></post-card>
</ion-content>
