<ion-item (click)="viewEvent(event)" [ngClass]="getClass(event)">
  <div class="calendar">
    <div class="month">{{ moment.utc(event.EventStartDate).tz(timeZone).format('MMM/YY') }}</div>
    <h1>{{ moment.utc(event.EventStartDate).tz(timeZone).format('DD') }}</h1>
    <p>{{ moment.utc(event.EventStartDate).tz(timeZone).format('MMM') }}</p>
  </div>
  <div class="event-content">
    <h2 class="event-name">{{ event.Name }}</h2>
    <p class="event-location">In <span>{{ event.EventVenue || 'Online' }}</span></p>
    <p *ngIf="event.RegisteredParticipants && paramsData && paramsData.fetchLatestData" [showFor]="'moderator'"> Participants: {{event.AttendedParticipants || 0 }} / {{ event.RegisteredParticipants || 0}}</p>
  </div>
  <div class="progress-bar" *ngIf="event.RegisteredParticipants && paramsData && paramsData.fetchLatestData" [showFor]="'moderator'">
    <div progress-bar [value]="event.AttendedParticipants" [total]="event.RegisteredParticipants">
    </div>
  </div>
</ion-item>
