// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$item-ios-avatar-border-radius: 50% !default;
$item-md-avatar-border-radius: 50% !default;
$item-wp-avatar-border-radius: 50% !default;

.avatar-circular {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(0,0,0, 0.5);
  border: 1px solid #aed4b9;
}

.required-input::after {
  content: ' *';
  color: red;
}

.platform-ios #status-bar-header {
  height: 20px;
  background-color: #5546a3;
}

ion-split-panel.split-panel-visible .menu .scroll-content {
  margin-top: 0 !important;
}

span.username {
  // background-color: #ffffff;
  padding: 2px 5px;
  border-radius: 3px;
  display: inline-block;
  margin-right: 3px;
  color: color($colors, white);
}

ion-footer.sidemenu-footer {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.10) !important;
  color: rgb(134, 136, 135);
  background-color: white;
}

.sidemenu-profile-card ion-buttons {
  z-index: 100;
  position: absolute;
  right: 5px;
}

.sidemenu-profile-card {
  width: 100%;
  height: 180px;
  display: block;
  z-index: 100;
  background-color: #fff;
  top: 0;
}

ion-menu ion-content.content-md {
  .sidemenu-profile-card {
    position: fixed;
  }

  .pull-menu-down {
    margin-top: 180px;
  }

  .sidemenu-profile-card ion-buttons {
    top: 5px;
  }
}

ion-menu ion-content.content-ios {
  .sidemenu-profile-card ion-buttons {
    top: 25px;
  }
}

ion-menu {
  .admin-header {
    background-color: #5a919c !important;

    .label {
      color: white !important;
      font-size: 16px;
    }
  }

  ion-list-header.admin-header.item-md {
    margin-bottom: 0 !important;
  }

  button.primary-light {
    background-color: lighten(color($colors, primary), 45%);
  }

  button.primary-light .item-inner {
    border-bottom: 1px solid lighten(color($colors, primary), 35%) !important;
  }

  button.primary-light ion-icon,
  button.primary-light ion-label {
    color: color($colors, primary) !important;
  }
}

ion-footer.sidemenu-footer strong {
  color: color($colors, primary);
}

ion-footer.sidemenu-footer span {
  background-color: #f4f4f4;
  border-radius: 10px;
  display: inline-block;
  padding: 3px 8px;
  font-weight: bold;
  font-size: 13px;
  float: right;
}

.no-padding {
  padding: 0;
}

ion-app.platform-tablet ion-app.platform-ipad {
  ion-split-panel.split-panel-ios.split-panel-visible .scroll-content {
    margin-top: 0 !important;
  }
}

.calendar {
  width: 60px;
  text-align: center;
  display: inline-block;
  float: left;
  border: 2px solid #1e407c;
  border-radius: 5px;
  padding: 8px 8px 2px;
  margin: 5px 10px 3px 0;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.calendar .month {
  font-weight: bold;
  position: absolute;
  width: 60px;
  background-color: #1e407c;
  left: 16px;
  top: 12px;
  border-radius: 5px 5px 0 0;
  padding: 3px;
  text-align: center;
  color: white;
  font-size: 11px;
}

h1 {
  margin-top: 5px !important;
  font-weight: bold;
  display: block;
}

.time {
  color: map-get($colors, primary);
  font-size: 14px;
}

.location {
  font-style: italic;
  font-size: 12px;
}

.showicon .toast-message {
  padding: 1.5rem;
  font-size: 1.4rem;
  color: #fff;
  background: url("../assets/img/check.png");
  background-repeat: no-repeat;
  background-position: left;
  margin-left: 10px;
  background-size: 35px 35px;
  padding-left: 50px !important;
}

ion-modal.custom-popup ion-backdrop {
  visibility: visible !important;
  z-index: 0;
}

ion-modal.custom-popup .modal-wrapper {
  bottom: -8%;
  width: 100%;
  height: 300px;
  position: absolute;
}

speaker-detail .scroll-content {
  background-color: white !important;
}

#menu-material {
  .item-inner {
    margin-left: 12px !important;
  }

  .menu-header {
    background-image: url("../assets/img/material-design-background.jpg");
    background-color: !important;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
      font-weight: 500;
      margin-bottom: 3px;
      color:white;
    }

    .e-mail {
      margin-top: 0;
      margin-bottom: 5px;
      color: white;
    }

    .header-container {
      padding: 5px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      flex: 1;
      background-color: rgba(0,0,0,0.25);

      .name {
        color: #fff !important;
      }
    }
  }

  .user-avatar {
    margin: 0.2em;
    box-shadow: 0 0 15px #494949;
    height: 12vh;
  }

  .user-avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
  }

  .profile-icon-container {
    width: 35%;
    height: 35%;
    padding: 1px 5px;
    border-radius: 50%;
    bottom: 0;
    transform: translateY(40%);
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .camera-icon {
    color: white;
    font-size: 1.2em;
  }

  .label,
  h3 {
    color: #999;
    font-weight: 400;
  }

  ion-icon {
    color: #777;
  }

  .round {
    border-radius: 50%;
  }

}

  speaker-detail{
    .scroll-content{
      margin-top:55px !important;
    }
  }

social-links .item .label{
  white-space: normal;
}
