profile-card {
  width: 100%;
  height: 180px;
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  background-color: white;
}

ion-avatar.ion-avatar-upload-image:after {
  width: 30px;
  height: 30px;
  content: "\f3f6";
  display: inline-block;
  margin-top: -27px;
  background-color: color($colors, light);
  color: color($colors, dark);
  border-radius: 50%;
  margin-bottom: -8px;
  min-height: 2.5rem;
  font-size: 2.5rem;
  font-family: "Ionicons";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
  text-rendering: auto;
  text-transform: none;
  speak: none;
}

ion-avatar img.big {
  display: block;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 100px !important;
  height: 100px !important;
  margin: 15px auto 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}

profile-card .avatar {
  z-index: 1002;
  position: relative;
  text-align: center;
  color: #fff;
  font-size: normal;
}

profile-card .avatar .name {
  font-weight: bold;
  font-size: medium;
  margin: 10px 0 5px;
}

profile-card .img-container {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-filter: blur(30px);
  -o-filter: blur(30px);
  filter: blur(30px);
  background-size: cover;
}

profile-card .blur {
  /* All the background image supports */
  background-image: -webkit-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
  background-image: -moz-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
  background-image: -o-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
  background-image: linear-gradient(to top right, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(50px);
  -o-filter: blur(50px);
  filter: blur(50px);
  padding: 70px;
}

profile-card .blur:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1001;
  background-image: -webkit-linear-gradient(339deg, rgba(43, 40, 50, 0.8) 0%, rgba(43, 40, 50, 0.4) 46%, rgba(0, 0, 0, 0.05) 50%);
  background-image: -moz-linear-gradient(339deg, rgba(43, 40, 50, 0.8) 0%, rgba(43, 40, 50, 0.4) 46%, rgba(0, 0, 0, 0.05) 50%);
  background-image: -o-linear-gradient(339deg, rgba(43, 40, 50, 0.8) 0%, rgba(43, 40, 50, 0.4) 46%, rgba(0, 0, 0, 0.05) 50%);
  background-image: linear-gradient(339deg, rgba(43, 40, 50, 0.8) 0%, rgba(43, 40, 50, 0.4) 46%, rgba(0, 0, 0, 0.05) 50%);
  -webkit-filter: blur(70px);
  -o-filter: blur(70px);
  filter: blur(70px);
}
