<div class="img-container"></div>
<div class="blur"></div>
<div class="avatar">
  <ion-avatar [ngClass]="getClass()" (click)="changePicture()">
      <img *ngIf="!persona.picture" src="assets/img/user.png" class="big">
      <img *ngIf="persona.picture" [src]="persona.picture" class="big" [imageCache]="persona.picture">
  </ion-avatar>
  <attach-files *ngIf="allowChangePicture" class="no-display" [params]="{folder:folder, fileName:persona.uid, returnUrl:true, domId: 'attachProfilePicture', type:'images'}" (saveUrl)=saveUrl($event)></attach-files>
  <div class="name">{{ name() }}</div>
  <div *ngIf="persona.designation">{{persona.designation}}</div>
  <div *ngIf="persona.companyName">{{persona.companyName}}</div>
</div>
