<ion-header>
  <ion-navbar color="primary">
    <ion-title>Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="event">
    <div class="event-title" padding>
      <h5>{{ event.Name }}</h5>
      <span>{{ event.EventStartDate | amDateFormat: 'MMM DD, YYYY' }} at {{ event.EventStartDate | amDateFormat:'hh:mm A' }}</span>
    </div>
    <ion-item *ngIf="participationStatus" no-lines class="participation-container" [ngClass]="getParticipationStatusContainerClass(participationStatus)">
      <ion-icon [name]="getParticipationStatusIcon(participationStatus)" item-left large></ion-icon>
      <div class="ticket-container" (click)="viewTicket($event,event)">
        <button ion-button outline class="ticket-button" *ngIf="!hideTicket && participationStatus == 'Registered' || participationStatus == 'Attended'">
            Ticket
          </button>
      </div>
      <span [innerHTML]="getParticipationStatusText(participationStatus)"></span>
    </ion-item>
    <div *ngIf="event.EventImage" class="about-header" [background-image]=event.EventImage>
    </div>
    <div class="event-details" padding *ngIf="event.Notes">
      <p [innerHTML]="event.Notes"></p>
    </div>

    <div class="attendence" *ngIf="event.AvailableSeats">
      <div class="total">
        <div class="block-width">
          <img class="event-icon" src="assets/img/seat-icon.svg">
        </div>
        <div>
          <span class="bold-font">Available Seats</span>
          <h4 color="primary">{{ ((event.AvailableSeats||100) - event.RegisteredParticipants) || 0 }}</h4>
        </div>
      </div>
      <div class="attended">
        <div class="block-width">
          <img class="event-icon" src="assets/img/money-icon.svg">
        </div>
        <div>
          <span class="bold-font">Material Fee</span>
          <h4 color="primary">{{ event.EventCost ? '$'+event.EventCost : '$0'}}</h4>
        </div>
      </div>
    </div>

    <ion-item *ngIf="event.isOnline || !event.Venue" no-lines>
      <ion-icon name="pin" item-left large></ion-icon>
      <span class="bold-font">Event Venue</span>
      <h2 color="primary">Online</h2>
    </ion-item>

    <!-- Dynamic map -->
    <static-map [params]="event.EventVenue" *ngIf="!event.isOnline && event.Venue"></static-map>

    <!-- Attendee event options -->
    <ion-buttons *ngIf="isLive() && uid && participationStatus!='Attended'">
      <ion-row *ngIf="participationStatus != 'Registered'">
        <ion-col *ngIf="!participationStatus || participationStatus != 'Interested'">
          <button ion-button icon-left outline color="primary" block (click)="markInterested()">
            Interested
          </button>
        </ion-col>
        <ion-col>
          <button ion-button block color="primary" *ngIf="!participationStatus || participationStatus != 'Registered' || participationStatus == 'Canceled'" (click)="buyTicket()">Buy Ticket</button>
        </ion-col>

      </ion-row>
      <ion-row *ngIf="participationStatus == 'Registered'">
        <ion-col>
          <button ion-button block color="light" (click)="cancelTicket()">Cancel Ticket</button>
        </ion-col>
      </ion-row>
    </ion-buttons>

    <!-- show speakers of current event -->
    <ion-list *ngIf="type && type.length">
      <div *ngFor="let key of type">
        <ion-list-header color="light">
          {{key}}
        </ion-list-header>
        <persona [params]="{delete: false, view: true, id: id}" *ngFor="let id of event.personaIds[key]"></persona>
      </div>
    </ion-list>
    <speaker-card [params]="event" [participationStatus]="participationStatus" *ngIf="!type"></speaker-card>
    <rating [args]="{eventId:event.EventId, type:'event', uid: uid, ratingEnabled: true}" [disabled]="(participationStatus == 'Interested')" *ngIf="participationStatus && participationStatus != 'Cancelled'"></rating>
    <files *ngIf="(event.files||{}).length" args=[event.files]> </files>
  </div>
</ion-content>
