<ion-header>
  <ion-navbar [hideBackButton]="!showBackButton" no-border-bottom color="primary">
    <button ion-button menuToggle *ngIf="!showBackButton">
      <ion-icon name="close"></ion-icon>
    </button>
    <ion-title *ngIf="page" >
      {{page.title}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showOptions()" [showFor]="'admin'">
          <ion-icon name="more"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides pager *ngIf="page && page.images">
    <ion-slide *ngFor="let image of page.images">
      <img [src]="image" class="page-images" />
    </ion-slide>
  </ion-slides>

  <div [innerHTML]="page.description" *ngIf="page" clickLink></div>

  <div *ngIf="!page">
    Page not found
  </div>
</ion-content>
