<ion-content>
  <div class="header" [ngClass]="alertData.enableEventView=='true'?'success':'info'">
    <ion-icon [name]="alertData.enableEventView=='true'?'checkmark-circle':'information-circle'"> </ion-icon>
    <h3> {{this.alertData.title}} </h3>
  </div>
  <div class="event-content">
    {{this.alertData.message}}
    <span class="event-name"> {{this.alertData.eventName}} </span>
  </div>
  <div class="footer">
    <button ion-button outline (tap)="dismiss()"> Dismiss </button>
    <button ion-button outline (tap)="showEvent()" *ngIf="isEventViewable"> View </button>
  </div>
</ion-content>
