page-event-list,
page-my-events,
single-event-new ,
{
  div.event-day {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -10px;
  }

  .date-container {
    min-width: 18% !important;
  }

  .event-container {
    min-width: 82% !important;
  }

  .spacer {
    font-size: 0;
    height: 45px;
    line-height: 0;
  }

  div.time {
    display: inline-block;
    float: left;
    border-right: 1px dashed lighten(color($colors, dark), 65%);
    padding: 25px 15px 5px 3px;
    margin-right: 15px;
    width: 90px;
    color: #000000 !important;
    text-align: left;
  }

  div.event-day {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -10px;
  }

  .event-location {
    color: lighten(color($colors, dark), 20%);
  }

  .event-location span {
    padding: 2px 0 0 2px;
    display: inline-block;
    color: color($colors, primary);
    border-radius: 3px;
  }

  .past-event {
    .calendar {
      border: 2px solid #dedede !important;

      .month {
        background-color: #999 !important;
      }
    }
  }
}
