<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left [hidden]="hideBackButton" (click)="viewLoginSlide()">
      <button ion-button type="button" icon-only color="white">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll="false">
  <ion-slides #slides>

    <!--Login slide-->
    <ion-slide id="main-slide">
      <div class="logo" *ngIf="bannerPicture">
        <img [src]="bannerPicture" class="imageLogo">
      </div>
      <div padding>
        <ion-list>
          <form #loginForm="ngForm" novalidate>
            <ion-item>
              <ion-label stacked color="primary" class="required-input">Email</ion-label>
              <ion-input [(ngModel)]="loginSlide.email" name="email" type="email" required pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked color="primary" class="required-input">Password</ion-label>
              <ion-input [(ngModel)]="loginSlide.password" name="password" type="password" required minlength="6"></ion-input>
            </ion-item>
            <br>
            <button ion-button block (click)="onLogin()" [disabled]="loginForm.invalid" type="submit" color="primary">Login</button>
          </form>
        </ion-list>
        <ion-row responsive-sm>
          <button ion-button item-right clear (click)="viewForgotPasswordSlide()" color="primary" type="button">
            Forgot password
          </button>
        </ion-row>
      </div>

    </ion-slide>

    <!--ForgotPassword slide-->
    <ion-slide padding>
      <form #ForgotPasswordSlide="ngForm" novalidate>
        <ion-item no-lines>
          <ion-label class="multiline-text">Please enter your email address and we'll send you an email to reset your password.</ion-label>
        </ion-item>
        <ion-item>
          <ion-label stacked color="primary" class="required-input">Email</ion-label>
          <ion-input type="email" [(ngModel)]="forgotPasswordSlide.email" name="forgotPasswordSlide.email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" required></ion-input>
        </ion-item>
      </form>
    </ion-slide>

    <!--OTP slide-->
    <ion-slide padding>
      <ion-item no-lines>
        <h4 class="title">A verification code has been sent your email<br/> {{ forgotPasswordSlide.email ? forgotPasswordSlide.email : email}}</h4>
      </ion-item>
      <ion-item>
        <ion-label stacked>Enter OTP</ion-label>
        <ion-input [(ngModel)]="otp" [ngModelOptions]="{standalone: true}" type="text" minlength="4" maxlength="4" required placeholder="_ _ _ _">
        </ion-input>
      </ion-item>
      <div padding>
        <button ion-button color="primary" [disabled]=" opt && otp.length !== 4" (click)="validateOtp()" type="submit" block>Validate</button>
      </div>
    </ion-slide>

    <!--Reset password slide-->
    <ion-slide padding>
      <form #resetPasswordForm="ngForm" novalidate>
        <ion-item no-lines>
          <h4>Enter your new password<br/></h4>
        </ion-item>
        <ion-item>
          <ion-label stacked color="primary" class="required-input">New Password</ion-label>
          <ion-input type="password" [(ngModel)]="resetPasswordSlide.password" name="resetPasswordSlide.password" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked color="primary" class="required-input">Confirm Password</ion-label>
          <ion-input type="password" [(ngModel)]="resetPasswordSlide.confirmPassword" name="resetPasswordSlide.confirmPassword" required></ion-input>
        </ion-item>
      </form>
    </ion-slide>
    <!--Signup slide-->
    <ion-slide>
      <div class="logo" *ngIf="bannerPicture">
        <img [src]="bannerPicture" class="imageLogo">
      </div>
      <div padding>
        <ion-list>
          <form #signupForm="ngForm" novalidate>
            <ion-item>
              <ion-label stacked color="primary" class="required-input">Email</ion-label>
              <ion-input [(ngModel)]="signupSlide.email" name="email" type="email" required pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked color="primary" class="required-input">Password</ion-label>
              <ion-input [(ngModel)]="signupSlide.password" name="password" type="password" required minlength="6"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked color="primary" class="required-input">Confirm password</ion-label>
              <ion-input [(ngModel)]="signupSlide.confirmPassword" name="confirmPassword" type="password" required minlength="6"></ion-input>
            </ion-item>
            <br>
            <button ion-button block (click)="onSignup()" [disabled]="signupForm.invalid" type="submit" color="primary">Create account</button>
          </form>
        </ion-list>
      </div>

    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <!-- login slide -->
  <ion-toolbar color="light" *ngIf="showFooter && isActiveSlide(0)">
    <button ion-button block color="primary" clear (click)="viewSignupSlide()">Create an account</button>
  </ion-toolbar>

  <!-- Forgot password slide -->
  <ion-toolbar color="light" *ngIf="isActiveSlide(1)">
    <button clear ion-button block (click)="forgotPassword()" [disabled]="ForgotPasswordSlide.invalid">Send OTP</button>
  </ion-toolbar>

  <!-- OTP slide -->
  <ion-toolbar color="light" *ngIf="isActiveSlide(2)">
    <button clear ion-button block color="white" (click)="resendOtp()" color="primary">Resend OTP</button>
  </ion-toolbar>

  <!-- Reset password slide -->
  <ion-toolbar color="light" *ngIf="isActiveSlide(3)">
    <button clear ion-button block (click)="resetPassword()" type="button" [disabled]="resetPasswordForm.invalid">
        Reset Password
      </button>
  </ion-toolbar>

  <!-- signup slide -->
  <ion-toolbar color="light" *ngIf="showFooter && isActiveSlide(4)">
    <button ion-button block color="primary" clear (click)="viewLoginSlide()">Already have an accoount, Login</button>
  </ion-toolbar>
</ion-footer>
