<ion-header>
  <ion-navbar hideBackButton="true" color="primary">
    <ion-title>
      Notifications
    </ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

  <ion-toolbar *ngIf="roleValue==20" color="light">
    <ion-segment [(ngModel)]="notificationType" color="primary">
      <ion-segment-button value="RECEIVED" (ionSelect)="listNotifications('RECEIVED')">
        Received
      </ion-segment-button>
      <ion-segment-button value="SENT" (ionSelect)="listNotifications('SENT')">
        Sent
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="roleValue==99?'admin-view':''">
  <ion-list *ngIf="notifications.length">
    <ion-item *ngFor="let notification of notifications" (click)="viewNotification(notification)">
      <span>
        <moment-ago [timeStamp]="notification.createdDate"></moment-ago>
      </span>
      <p> {{notification.body}} </p>
    </ion-item>
  </ion-list>

  <no-results *ngIf="!notifications.length" icon="notifications" text="No notifications found, <br/>Create one now"></no-results>

  <ion-fab right bottom #fab (click)="addNewNotifications()" [showFor]="'admin,moderator'">
    <button ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
