page-tutorial {
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  ion-slide{
    padding: 10px 15px;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 36px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

  .slide3 img{
    margin-bottom: 0 !important;
  }

  .slide3 h2, .slide3 p {
    margin-top: 1.4rem !important;
  }

  .slide2{
    img{
      margin-top: 20% !important;
      min-width: 80% !important;
      min-height: 50% !important
    }
  }

}
