<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()"><ion-icon name="arrow-back"></ion-icon></button>
    </ion-buttons>
    <ion-title>
      Choose Icon
    </ion-title>
  </ion-toolbar>
  <ion-searchbar type="text" placeholder="Search Icons" [(ngModel)]="searchInput" (ionInput)="searchIcons()"></ion-searchbar>
</ion-header>

<ion-content text-center class="add-icon">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let icon of icons" (click)="addIcon(icon)">
        <ion-icon [name]="icon">
        </ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
