<ion-header>
  <ion-toolbar hideBackButton="true" color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="reorder">
      <button ion-button (click)="savePersonas()" type="submit">Save</button>
    </ion-buttons>

    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="query" autocomplete="on" showCancelButton="true" placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group [reorder]="reorder" (ionItemReorder)="onItemReorder($event)">
        <ion-item *ngFor="let persona of personas | search : query : filterKeys" (click)="viewPersona(persona.id)">
          <ion-avatar item-left>
            <span *ngIf="persona.visibility" class="visibility" [showFor]="'admin,moderator'"><ion-icon name="checkmark"></ion-icon></span>
            <img [src]="persona.image ? persona.image : 'assets/img/user.png'" [imageCache]="persona.image" />
          </ion-avatar>
          <h2>{{persona.Name}}</h2>
          <p>{{persona.designation}}</p>
        </ion-item>
    </ion-item-group>
  </ion-list>
<div class="spacer"></div>
  <no-results [hidden]="personas.length" icon="alert" text="No results found, <br/>Stay tuned for updates"></no-results>

  <ion-fab bottom right #fab (click)="addPersona()" [showFor]="'admin,moderator'">
    <button ion-fab><ion-icon name="add" ></ion-icon></button>
  </ion-fab>
</ion-content>
