<ion-card>
  <ion-card-header style="padding:0px;">
    <ion-toolbar color="light">
      <ion-buttons left>
        <button ion-button icon-only (click)="toggleList()" color="primary">
          <ion-icon name="arrow-dropdown" *ngIf="!isListExpanded"> </ion-icon>
          <ion-icon name="arrow-dropup" *ngIf="isListExpanded"> </ion-icon>
        </button>
      </ion-buttons>
      <ion-title class="title" (click)="toggleList()" >{{args.title}}</ion-title>
      <ion-buttons end>
        <button ion-button (click)="createMenu()" *ngIf="isListExpanded" color="primary" small icon-left><ion-icon name="add"></ion-icon> Add item </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-header>

  <ion-card-content>
    <ion-list class="menu-list">
      <ion-item-group [reorder]="!edit" (ionItemReorder)="onItemReorder($event)" *ngIf="menuItems.length && isListExpanded">
        <ion-item *ngFor="let item of menuItems; let i = index" style="border-bottom:1px solid #dedede;">
          <ion-icon [name]="item.icon" item-left></ion-icon>
          <h2>{{item.title}}</h2>
          <p>{{item.type}}: {{item.value}}</p>
          <ion-icon name="more" (click)="showOptions(item, i)" item-right></ion-icon>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-card-content>
</ion-card>
