<ion-header color="primary">
  <ion-navbar hideBackButton="true" hideBackButton="true" color="primary">

    <ion-buttons left>
      <button ion-button menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <!--
    <ion-buttons end [showFor]="'guest'">
      <button ion-button (click)="login()">
        Login
      </button>
    </ion-buttons>
    <ion-buttons end [showFor]="'registered,admin'">
      <button ion-button icon-only clear (click)="viewNotifications()">
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons> -->

    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content>
  <div class="newsfeed-update-button" *ngIf="isNewPostExist">
    <button ion-button color="primary" round (click)="updatePosts()">
       <ion-label> <ion-icon name="arrow-round-up"></ion-icon> Update Posts </ion-label>
     </button>
  </div>


  <ion-grid [hidden]="!posts.length">
    <ion-row responsive-md wrap>
      <ion-col width-50 *ngFor="let post of loadedPosts;trackBy:post?.id">
        <post-card [postData]="post" [params]="{hideBadge: true, hideMore:true}"></post-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="loadPosts($event)" *ngIf="this.loadedPosts.length < this.posts.length">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <no-results [hidden]="posts.length" icon="ios-radio-outline" text="No acitivity reported, <br/>Stay tuned for updates"></no-results>
</ion-content>
