<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Schedule
    </ion-title>

    <ion-buttons end>
      <button ion-button [disabled]="checkFormValid(scheduleForm)" (click)="onSubmit(scheduleForm)" type="submit">Save</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <form #scheduleForm="ngForm" novalidate>
    <image-gallery [params]="{images:session.images, folder:'events'}"></image-gallery>
    <ion-list>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">Name</ion-label>
        <ion-input [(ngModel)]="session.Name" name="name" type="text" #name="ngModel" required></ion-input>
      </ion-item>
      <p ion-text [hidden]="name.valid || submitted == false" color="danger" padding-left>
        Name is required
      </p>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">Start Time</ion-label>
        <ion-datetime displayFormat="DD-MMM-YYYY hh:mm a" min="{{minDate}}" max="{{maxDate}}" pickerFormat="DD-MMM-YYYY hh:mm a" [(ngModel)]="session.EventStartDate" name="EventStartDate" #startTime="ngModel" required></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">End Time</ion-label>
        <ion-datetime displayFormat="DD-MMM-YYYY hh:mm a" min="{{minDate}}" max="{{maxDate}}" pickerFormat="DD-MMM-YYYY hh:mm a" [(ngModel)]="session.EventEndDate" name="EventEndDate" #endTme="ngModel" required></ion-datetime>
      </ion-item>
      <app-tinymce [(ngModel)]='session.Notes' name="description" #description="ngModel" required hideWhen="android,ios"></app-tinymce>
      <ion-item showWhen="android,ios">
        <ion-label stacked color="primary" class="required-input">Description</ion-label>
        <ion-input [(ngModel)]="session.Notes" name="description" type="text" #description="ngModel" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary">Available Seats </ion-label>
        <ion-input [(ngModel)]="session.AvailableSeats" name="AvailableSeats"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked color="primary">Event Cost </ion-label>
        <ion-input [(ngModel)]="session.EventCost" name="EventCost" #serialNo="ngModel"></ion-input>
      </ion-item>

      <ion-item *ngIf="!session.isOnline">
        <ion-label stacked color="primary"> Venue </ion-label>
        <ion-textarea [(ngModel)]="session.EventVenue" name="EventVenue"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label color="primary">Mark Online</ion-label>
        <ion-toggle [(ngModel)]="session.isOnline" name="isOnline" #isOnline="ngModel"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label color="primary">Event Cancelled</ion-label>
        <ion-toggle [(ngModel)]="session.cancelled" name="cancel" #cancel="ngModel"></ion-toggle>
      </ion-item>

      <!-- FILES -->
      <ion-item-divider color="light">
        Attachments
        <button item-right ion-button color="light" (click)="addFiles()">Add</button>
      </ion-item-divider>

      <div>
        <div *ngFor="let file of session.files">
          <files [params]="{folder:'schedule', delete: true, id: file}" (removeFile)="removeFile($event)"></files>
        </div>
      </div>


      <!-- Personas -->
      <ion-item-divider color="light">
        Persona's
        <button item-right ion-button color="light" (click)="addPeronas()">Add</button>
      </ion-item-divider>

      <div *ngFor="let type of personaType">
        <ion-item-divider color="light" *ngIf="personaIds[type]">
          {{type}}
        </ion-item-divider>
        <div *ngFor="let id of personaIds[type]">
          <persona [params]="{delete: true, view: false, type: type, id: id}" (removePersona)="removePersona($event)"></persona>
        </div>
      </div>

    </ion-list>
  </form>
</ion-content>
