<ion-header>
  <ion-navbar color="light" hideBackButton="true">
    <ion-buttons left>
      <button ion-button icon-only color="primary" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ edit ? 'Update' : 'Create' }} Notification
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="sendNotification()" color="primary" [disabled]="isDisabled(notificationForm) || !selectedTargets.length" type="submit">
        Send
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form #notificationForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">Title</ion-label>
        <ion-input [(ngModel)]="message.title" name="title" type="text" #title="ngModel" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">Message</ion-label>
        <ion-input [(ngModel)]="message.body" name="body" type="text" #body="ngModel" required>
        </ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label class="required-input">Target</ion-label>
        <ion-select [(ngModel)]="message.target" name="target" #target="ngModel" required>
          <ion-option value="All Devices" *ngIf="roleValue == 99">All Devices</ion-option>
          <ion-option value="Selected Audience">Selected Audience</ion-option>
        </ion-select>
      </ion-item> -->
      <!-- <ion-item-divider color="light" *ngIf="message.target == 'Selected Audience'"> -->
      <ion-item-divider color="light">
        Audience
        <button ion-button outline item-right (click)="selectAudience()">Add</button>
      </ion-item-divider>
      <!-- <ion-list *ngIf="message.target == 'Selected Audience'"> -->
      <ion-list>
        <ion-item *ngFor="let target of selectedTargets">
          {{target.name}}
        </ion-item>
      </ion-list>
      <!-- <ion-item no-lines>
        <ion-label item-left> Action </ion-label>
        <button ion-button outline item-right (click)="addTarget()"> {{ message.landingPage ? 'EDIT' : 'ADD' }} </button>
      </ion-item> -->
      <!-- <ion-item *ngIf="message.landingPage" no-lines>
        <p> Type : {{ message.landingPage.type }} </p>
        <p> Link To : {{ message.landingPage.title }} </p>
      </ion-item> -->
    </ion-list>
  </form>
</ion-content>
