<ion-header>
  <ion-navbar color="light" hideBackButton="true">
    <ion-buttons left>
      <button ion-button icon-only color="primary" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Select Audience
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="continue()" color="primary" type="submit">
        Continue
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
     <ion-segment [(ngModel)]="segment" color="primary" (ionChange)="updateList($event)">
      <ion-segment-button value="live">
        Upcoming
      </ion-segment-button>
      <ion-segment-button value="past">
        Past
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-searchbar [(ngModel)]="query" autocomplete="on" showCancelButton="true" placeholder="Search" color="primary" #searchBar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #audienceListingForm="ngForm" novalidate>
    <ion-item *ngFor="let target of loadedTargets| search : query : filterKeys">
      <ion-label>{{target.name}}</ion-label>
      <ion-checkbox (ionChange)="insertTargetToArray(target)"></ion-checkbox>
    </ion-item>
    <no-results [hidden]="targets.length > 0" icon="contacts" text="No Audience found"></no-results>
  </form>
</ion-content>
