<ion-header>
  <ion-navbar [hideBackButton]="!showBackButton" no-border-bottom color="primary">
    <button ion-button menuToggle *ngIf="!showBackButton">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="page">
      {{page.title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides pager *ngIf="page && page.images">
    <ion-slide *ngFor="let image of page.images">
      <img [src]="image" class="page-images" />
    </ion-slide>
  </ion-slides>

  <!-- Do not show date for Uncategorized pages -->
  <div *ngIf="page.category && page.category != 'UNCATEGORIZED' ">
    <p [hidden]="!page.publishedOn" color="primary">{{ formatDate(page.publishedOn) }}</p>
  </div>

  <div [innerHTML]="page.description" *ngIf="page" clickLink></div>

  <div *ngIf="!page">
    Page not found
  </div>
</ion-content>

<ion-footer *ngIf="page.pageFooter" no-padding>
  <ion-toolbar color="white" no-padding>
    <ion-buttons>
      <ion-row>
        <ion-col *ngFor="let footer of page.pageFooter" style="text-align:center">
          <button ion-button outline icon-only class="footer-button">
              <ion-icon [name]="footer.icon" class="footer-icon"></ion-icon>
              <span class="footer-text">{{ footer.title }}</span>
              </button>
        </ion-col>
      </ion-row>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
