.banner-img {
  min-width: 580 px !important;
  min-height: 256 px !important;
}

.left-container {
  float: left !important;
  width: 50%;

  img {
    width: 100% !important;
    height: 125px !important;
  }
}

.right-container p {
  font-weight: bold;
  word-break: break-all;
  white-space: normal;
}

.right-container {
  float: right !important;
  display: inline;
  width: 50%;
}
