<ion-split-panel>
  <!-- logged in menu -->
  <!-- <ion-menu [content]="content" persistent="true" *ngIf="showMenu">
    <ion-content class="outer-content" class="menu">

      <ion-list>
        <ion-list-header color="light">
          Menu
        </ion-list-header>

        <button ion-item menuClose *ngFor="let page of accountPages" (click)="openPage(page)">
        <ion-icon [name]="page.icon" item-left></ion-icon>
        <h2> {{page.title}} </h2>
      </button>
      </ion-list>
      <ion-list *ngIf="roleValue == 99 || roleValue == 20">
        <ion-list-header color="primary" class="admin-header" *ngIf="roleValue == 99">
          Admin
        </ion-list-header>
        <ion-list-header color="primary" class="admin-header" *ngIf="roleValue == 20">
          Moderator
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of adminPages" (click)="openPage(p)"  [hidden]="p.hideFor == roleValue">
              <ion-icon item-left [name]="p.icon " [color]="isActive(p)"></ion-icon>
              {{p.title}}
            </button>
      </ion-list>
    </ion-content>
  </ion-menu> -->

  <ion-menu [content]="content" id="menu-material" persistent="true" *ngIf="showMenu">
    <ion-content>
      <div class="menu-header">
        <!--material-design-background-->
        <div class="header-container">
          <div class="user-avatar-container">
            <img class="user-avatar round" [src]="user && user.picture ? user.picture:'assets/img/user.png'" />
            <div class="profile-icon-container" (click)="changePicture()">
              <ion-icon name="camera" color="light" class="camera-icon"> </ion-icon>
            </div>
          </div>
          <attach-files class="no-display" [params]="{folder:'profilePics', fileName: user?.uid, returnUrl:true, domId: 'attachProfilePicture'}" (saveUrl)=saveUrl($event)></attach-files>
          <p class="name">{{user?.firstName}} {{user?.lastName}}</p>
          <p class="e-mail">{{user?.email}}</p>
        </div>
      </div>
      <ion-list no-lines>
        <button menuClose="left" ion-item detail-none *ngFor="let page of accountPages" (click)="openPage(page)">
      <ion-icon [name]="page.icon" item-left></ion-icon>
      {{page.title}}
    </button>
      </ion-list>
      <ion-list no-lines>
        <ion-list-header class="admin-header" *ngIf="roleValue == 99">
          <ion-label> Admin </ion-label>
          <ion-toggle [checked]="roleValue==20" (tap)="changeRoleValue()"></ion-toggle>
        </ion-list-header>
        <ion-list-header class="admin-header" *ngIf="roleValue == 20">
          <ion-label> Moderator </ion-label>
          <ion-toggle [checked]="roleValue==20" (tap)="changeRoleValue()"></ion-toggle>
        </ion-list-header>
        <div *ngIf="roleValue==99 || roleValue==20">
          <button menuClose="left" ion-item detail-none *ngFor="let page of adminPages" (click)="openPage(page)" [hidden]="page.hideFor == roleValue || page.showForWeb == isCordovaEnabled">
          <ion-icon [name]="page.icon" item-left></ion-icon>
          {{page.title}}
          <!-- <ion-badge color="danger" item-right *ngIf="page.title.toLowerCase()=='notifications'" class="notification-badge"> 1 </ion-badge> -->
        </button>
        </div>
      </ion-list>
    </ion-content>
    <ion-footer padding class="sidemenu-footer">
      <span>V1.0</span>Built by <strong [clickAction]="'http://inqude.com'">Inqude</strong>
    </ion-footer>
  </ion-menu>

  <!-- main navigation -->
  <ion-nav #content swipeBackEnabled="false" main></ion-nav>

</ion-split-panel>
