<div *ngIf="!params.minifiedPost">
  <div padding>
    {{ post.caption ? post.caption : 'Caption' }}
  </div>
  <ion-slides pager>
    <ion-slide *ngFor="let image of post.images">
      <img [src]="image" />
    </ion-slide>
  </ion-slides>
</div>

<!--Minified version of the image-gallery component-->
<div *ngIf="params.minifiedPost">
  <span class="top-header-label">Gallery</span>
  <div class="left-container">
    <ion-slides pager class="minified-slider">
      <ion-slide *ngFor="let image of post.images">
        <img [src]="image" />
      </ion-slide>
    </ion-slides>
  </div>
  <div class="right-container">
    <p>{{ post.caption }}</p>
  </div>
</div>
