<button ion-button clear small (click)="like()" *ngIf="params.hideLike !== true">
  <ion-icon name="heart-outline" [hidden]="isLiked"></ion-icon>
  <ion-icon  name="heart" class="heartIcon" [hidden]="!isLiked"></ion-icon>
  <div [hidden]="likes <= 0" style="margin-left:5px;">{{likes}}</div>
</button>
