<ion-header>
  <ion-navbar>
    <ion-title>
      Speaker
    </ion-title>
    <ion-buttons end>
      <button ion-button [disabled]="speakerForm.invalid" (click)="onSubmit(speakerForm)" type="submit">Save</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <form #speakerForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-avatar item-left>
          <img [src]="speaker.image?speaker.image: 'assets/img/user.png'" alt="Speaker pic" (click)="changeImage(speaker)" />
        </ion-avatar>
        <ion-label stacked color="primary" item-right class="required-input">Name</ion-label>
        <ion-input [(ngModel)]="speaker.Name" name="name" type="text" #name="ngModel" item-right required style="margin-left: 10px;">
        </ion-input>
      </ion-item>
      <p ion-text [hidden]="name.valid || submitted == false" color="danger" padding-left>
        Name is required
      </p>

      <ion-item>
        <ion-label stacked color="primary" class="required-input">Designation</ion-label>
        <ion-input [(ngModel)]="speaker.designation" name="designation" type="text" #designation="ngModel" required>
        </ion-input>
      </ion-item>

      <app-tinymce [(ngModel)]='speaker.description' name="description" #description="ngModel" required hideWhen="android,ios"></app-tinymce>
      <ion-item showWhen="android,ios">
        <ion-label stacked color="primary" class="required-input">Description</ion-label>
        <ion-input [(ngModel)]="speaker.description" name="description" type="text" #description="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Public Visibility</ion-label>
        <ion-toggle [(ngModel)]="speaker.visibility" name="visibility" color="secondary"> </ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label stacked color="primary">email</ion-label>
        <ion-input [(ngModel)]="speaker.email" name="email" type="text" #email="ngModel">
        </ion-input>
      </ion-item>
      <p ion-text [hidden]="email.valid " color="danger" padding-left>
        enter valid Email
      </p>
      <ion-item>
        <ion-label stacked color="primary">location</ion-label>
        <ion-input [(ngModel)]="speaker.location" name="location" type="text" #location="ngModel">
        </ion-input>
      </ion-item>
      <p ion-text [hidden]="location.valid " color="danger" padding-left>
        enter valid location
      </p>
      <ion-item>
        <ion-label stacked color="primary">phone</ion-label>
        <ion-input [(ngModel)]="speaker.phone" name="phone" type="text" #phone="ngModel">
        </ion-input>
      </ion-item>
      <p ion-text [hidden]="phone.valid " color="danger" padding-left>
        enter valid phone
      </p>
      <ion-item>
        <ion-label stacked color="primary">Website</ion-label>
        <ion-input [(ngModel)]="speaker.website" name="website" type="text" #website="ngModel">
        </ion-input>
      </ion-item>
      <p ion-text [hidden]="website.valid " color="danger" padding-left>
        enter valid website
      </p>
      <ion-item>
        <ion-label stacked color="primary">Wikipedia</ion-label>
        <ion-input [(ngModel)]="speaker.wikipedia" name="wikipedia" type="text" #wikipedia="ngModel">
        </ion-input>
      </ion-item>
      <p ion-text [hidden]="wikipedia.valid " color="danger" padding-left>
        enter valid wikipedia
      </p>
      <ion-item>
        <ion-label stacked color="primary">facebook</ion-label>
        <ion-input [(ngModel)]="speaker.facebook" name="facebook" type="text" #facebook="ngModel">
        </ion-input>
      </ion-item>
      <p ion-text [hidden]="twitter.valid " color="danger" padding-left>
        enter valid facebook
      </p>
      <ion-item>
        <ion-label stacked color="primary">twitter</ion-label>
        <ion-input [(ngModel)]="speaker.twitter" name="twitter" type="text" #twitter="ngModel">
        </ion-input>
      </ion-item>
      <p ion-text [hidden]="twitter.valid " color="danger" padding-left>
        enter valid twitter
      </p>
      <ion-item>
        <ion-label stacked color="primary">instagram</ion-label>
        <ion-input [(ngModel)]="speaker.instagram" name="instagram" type="text" #instagram="ngModel">
        </ion-input>
      </ion-item>
      <p ion-text [hidden]="twitter.valid " color="danger" padding-left>
        enter valid instagram
      </p>
      <br><br>
    </ion-list>
  </form>
</ion-content>
