<div padding>
  {{ post.caption ? post.caption : '' }}
</div>
<ion-row class="item-event-details calendar-background">
  <ion-col width-50>
    <img [src]="post.image ? post.image: 'assets/img/banner_img.jpg'" class="banner-img" />
  </ion-col>
  <ion-col width-50>
    <h1>{{ post.title ? post.title:'Title'}}</h1>
    <p [innerHTML]="post.description ? post.description :  '<Description></Description>'"></p>
    <button ion-button small [clickAction]="post.targetUrl" clickType="web" [value]="post.buttonLabel" [disabled]="params.hideButton">{{post.buttonLabel?post.buttonLabel:'Label'}}</button>
  </ion-col>
</ion-row>
