rating {
  margin: 0 10px;

  .ratingStars {
    font-size: 1.3em;
    display: inline-block;
    text-align: center;
  }

  .ratingStars ion-icon {
    color: gold;
    font-size: 1.45em;
  }

  .rating-count,
  .rating-count ion-icon {
    color: black;
    font-size: 1em;
  }

  .rating-count {
    display: block;
  }

  .rating-block {
    display: inline-block;
  }

  .rating-digit {
    display: inline-block;
    font-size: 45px;
    font-weight: 300;
  }

  .ratingStarsVote {
    margin-top: 5px;

    ion-icon {
      font-size: 3rem;
      padding-right: 10px;
    }
  }

  .rating-component {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 5px;
    display: block !important;
    text-align: center !important;
  }

  .feedback-block > h3 {
    font-size: 1.5em;
    font-weight: 400;
  }

  .disabled {
    background-color: silver;
  }

  .ratings {
    ion-icon {
      font-size: 20px;
      color: gold;
      padding-right: 2px;
    }
  }

  .moment-ago {
    float: right !important;
  }

  .username {
    font-weight: bold;
  }

  .divider-text {
    font-size: 1.65rem !important;
    text-align: center;
  }

  .feedback-data {
    padding-left: 60px;
  }

  .total-votes {
    text-align: center;
    font-size: 1em !important;
  }

  .self-rating {
    padding-top: 6px;
    font-size: 1em !important;
    color: #488aff;
  }

  .no-padding {
    padding: 0!important !important;
  }

  .text-center {
    text-align: center !important;
  }

  .border-top {
    border-top: 1px solid #dedede;
  }

  .dash-line-left, .dash-line-right {
    width: 25% !important;
    display: inline-block;
    border-top: 1px solid rgba(144, 15, 15,0.3);
    margin-top: 9px !important;
    position: absolute;
  }

  .dash-line-left {
    left: 0;
    margin-left: 5%;
  }

  .dash-line-right {
    right: 0;
    margin-right: 5%;
  }

  .no-padding .item-inner{
    padding: 0 !important;
  }

  .no-padding .label{
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

}
