<ion-header>
  <ion-navbar color="primary" *ngIf="hideSearchBar" hideBackButton="hideBackButton">
    <ion-buttons left *ngIf="!hideBackButton">
      <button ion-button menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title> Events </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="toggleNavBar()">
      <ion-icon name="search"></ion-icon>
    </button>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="ios-funnel-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-navbar color="primary" hideBackButton="true" *ngIf="!hideSearchBar">
    <ion-searchbar [(ngModel)]="query" autocomplete="on" showCancelButton="true" placeholder="Search" color="primary" (ionClear)="onIonClear()" (ionInput)="onInput()"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <no-results *ngIf="!events.length" icon="calendar" text="No Events found"></no-results>
  <ion-list #eventList>
    <single-event [params]="event" [data]="{fetchLatestData:true}" *ngFor="let event of events | search : query : filterKeys"></single-event>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadEvents($event)" *ngIf="!reachedMaxLimit">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
